
<style>

    .blue {
        color:#178fe6;
    }

</style>

<div class="card hidden-xs">
    <div class="card-title">
        <h4><i class="fa fa-link">&nbsp;</i>前端备忘录</h4>
    </div>
    <div class="card-content">
        <ul>
            <li><a href="https://devhints.io/es6" target="_blank">ES2015 特性</a></li>
            <li><a href="http://overapi.com/javascript" target="_blank">Javascript</a></li>
            <li><a href="https://www.debuggex.com/cheatsheet/regex/javascript" target="_blank">正则表达式</a></li>
            <li><a href="https://devhints.io/react" target="_blank">React</a></li>
            <li><a href="https://github.com/linkmesrl/react-journey-2016/blob/master/resources/egghead-redux-cheat-sheet-3-2-1.pdf" target="_blank">Redux</a></li>
            <li><a href="https://vuejs-tips.github.io/cheatsheet/" target="_blank">Vue</a></li>
            <li><a href="https://vuejs-tips.github.io/vuex-cheatsheet/" target="_blank">Vuex</a></li>
            <li><a href="https://yoksel.github.io/flex-cheatsheet/" target="_blank">Flexbox</a></li>
            <li><a href="https://devhints.io/sass" target="_blank">SCSS</a></li>
            <li><a href="https://devhints.io/stylus" target="_blank">Stylus</a></li>
            <li><a href="https://raw.githubusercontent.com/sogko/graphql-shorthand-notation-cheat-sheet/master/graphql-shorthand-notation-cheat-sheet.png" target="_blank">GraphQL</a></li>
        </ul>
    </div>
</div>
