
<style>

    .blue {
        color:#178fe6;
    }

</style>

<div class="card hidden-xs">
    <div class="card-title">
        <h4><i class="fa fa-link">&nbsp;</i>博客</h4>
    </div>
    <div class="card-content">
        <ul>
            <li><a href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰博客</a></li>
            <li><a href="https://www.w3cplus.com" target="_blank">大漠博客</a></li>
            <li><a href="http://www.zhangxinxu.com" target="_blank">张鑫旭博客</a></li>
            <li><a href="http://blog.cssforest.org" target="_blank">css森林</a></li>
            <li><a href="http://www.alloyteam.com" target="_blank">Alloy Team</a></li>
            <li><a href="http://fex.baidu.com" target="_blank">FEX</a></li>
            <li><a href="http://www.aliued.com/?cat=14" target="_blank">阿里ued</a></li>
            <li><a href="http://taobaofed.org" target="_blank">淘宝前端团队</a></li>
        </ul>
    </div>
</div>
